.carousel{
    margin: 20px auto 20px 250px;
}

.card{
    margin: 20px auto 20px 150px;
}

nav{
    font-family: 'Kaushan Script', cursive;
}

h1{
    font-family: 'Kaushan Script', cursive;
}

h2{
    font-family: 'Kaushan Script', cursive;
}